*.cache
*.cachefile
*.user
*.ncrunchproject
*.ncrunchsolution
*.suo

**/.svn
.svn

**/_ReSharper*
**/TestResults

Source/DistributedServiceProvider/DistributedServiceProvider/bin
Source/DistributedServiceProvider/DistributedServiceProvider/obj

Source/DigitalFountain/DigitalFountain/bin
Source/DigitalFountain/DigitalFountain/obj

Source/DigitalFountain/DigitalFountainTest/bin
Source/DigitalFountain/DigitalFountainTest/obj

Source/DistributedServiceProvider/ConsoleClient/bin
Source/DistributedServiceProvider/ConsoleClient/obj

Source/protobuf.net/protobuf-net/bin
Source/protobuf.net/protobuf-net/obj

Source/peerTube/peerTube/peerTube/bin
Source/peerTube/peerTube/peerTube/obj

Source/ConcurrentCollections/bin
Source/ConcurrentCollections/obj

Source/DistributedServiceProvider/Consumers/bin
Source/DistributedServiceProvider/Consumers/obj

Source/DigitalFountain/ProgressIndicator/bin
Source/DigitalFountain/ProgressIndicator/obj

Source/DistributedServiceProvider/DEMO_MapReduce/bin
Source/DistributedServiceProvider/DEMO_MapReduce/obj

Source/DistributedServiceProvider/DistributedServiceProviderModels/bin
Source/DistributedServiceProvider/DistributedServiceProviderModels/obj

Source/DistributedServiceProvider/LoggerMessages/bin
Source/DistributedServiceProvider/LoggerMessages/obj

Source/DistributedServiceProvider/TestProject/bin
Source/DistributedServiceProvider/TestProject/obj

Source/DistributedServiceProvider_RemoteLogger/DistributedServiceProvider_RemoteLogger/bin
Source/DistributedServiceProvider_RemoteLogger/DistributedServiceProvider_RemoteLogger/obj

Source/DistributedServiceProvider_RemoteLogger/LogPrinter/bin
Source/DistributedServiceProvider_RemoteLogger/LogPrinter/obj

Source/DistributedServiceProvider_RemoteLogger/NetworkVisualiser/NetworkVisualiser/bin
Source/DistributedServiceProvider_RemoteLogger/NetworkVisualiser/NetworkVisualiser/obj

Source/DistributedServiceProvider_RemoteLogger/NetworkVisualiser/NetworkVisualiserContent/bin
Source/DistributedServiceProvider_RemoteLogger/NetworkVisualiser/NetworkVisualiserContent/obj

Source/HandyCollections/HandyCollections/bin
Source/HandyCollections/HandyCollections/obj

Source/peerTube/peerTube/peerTubeContent/bin
Source/peerTube/peerTube/peerTubeContent/obj
